h1,
h2,
h3 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin-top: 5px;
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        text-align: center;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}

table {
    border-collapse: collapse;
    /*margin: 25px auto;*/
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.10),
    0 10px 20px rgba(0, 0, 0, 0.05),
    0 20px 20px rgba(0, 0, 0, 0.05),
    0 30px 20px rgba(0, 0, 0, 0.05);
}

th, td {
    color: black;

    border: 1px solid #eee;
    padding: 8px 35px;
    border-collapse: collapse;
}

tr:hover {
    background-color: rgba(96, 165, 250, 0.29);
}


th {
    background: #60a5fa;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

.divider {
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider::after {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.3), #000);
    margin-left: 4vh;
}

.divider::before {
    background: linear-gradient(to right, #ffffff, #000);
    margin-right: 4vh;
}

.divider::after,
.divider::before {
    content: "";
    display: block;
    height: 0.09em;
    min-width: 30vw;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f7f7f7;
}

h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.invisible {
    visibility: hidden;
    width: 0 !important;
    height: 0 !important;
}

.p-card-title {
    text-align: center;
}

.login-register-card {
    flex: 0.34;
}

.showcase::after {
    content: "";
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("Images/sxoleio.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(2px);
}

.date-line-h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.date-line-span {
    background: #fff;
    padding: 0 10px;
}

.content {
    position: absolute;
    z-index: 1;
    /*top: 20%;*/
    /*left: 50%;*/
    /*margin-top: 50px;*/
    /*margin-left: -175px;*/
    /*width: 370px;*/
    /*height: 350px;*/
    /*text-align: center;*/
    /*transition: all 1000ms;*/
}

.content > h1,
.logo-text {
    font-family: "EB Garamond", serif;
    font-style: italic;
}

.content .logo {
    /*height: 180px;*/
    /*width: 180px;*/
    /*margin: auto;*/
}

.nav-link {
    background-color: #333333;
    border-radius: 15px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition: color 500ms;
    transition: color 500ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    cursor: pointer;
}

.nav-link::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2e4272;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 500ms ease-out;
    transition: 500ms ease-out;
}

.nav-link:hover::before {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.grid-4 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.center {
    text-align: center;
    margin: auto;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    color: #f4f4f4;
    background: #333;
}

footer {
    padding: 2.2rem;
}

footer p {
    margin: 0;
}

.latest {
}

.article-outer {
    padding: 6px 5px;
    display: flex;
}

.article-image-container {
    flex: 1;
    margin-right: 8px;
}

.article-image-container > img {
    border-radius: 25px;
    width: 500px;
    height: 400px;
}

.article-text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-text-container > header {
    margin-top: 8px;
}

nav {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(20px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.35);
}

.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.footer-distributed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #cecece;
    width: 100%;
    padding: 10px;
}

@media (max-width: 640px) {
    .showcase::after {
        height: 70vh;
    }
}

@layer utilities {
    @variants responsive {
        .card-one {
            width: 600px;
            margin: auto;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .login-register-card {
        flex: 0.4;
    }
}

@media only screen and (max-width: 952px) {
    .divider::after {
        min-width: 0;
    }

    .divider::before {
        min-width: 0;
    }
}

@media only screen and (max-width: 850px) {
    .login-register-card {
        flex: 0.5;
    }
}

@media only screen and (max-width: 550px) {
    .login-register-card {
        flex: 0.8;
    }
}

@media only screen and (max-width: 360px), (max-height: 640px) {
    .login-register-card {
        flex: 0.9;
    }
}
